API_JWT_KEY=
API_PORT=
APP_NAME=
APP_PORT=
AWS_ACCOUNT_ID=
AWS_REGION=
BACKEND_HOST=
BUCKET_NAME=
DOCKER_BUILDER_CONTAINER=
ENVIRONMENT=
GEMINI_API_KEY=
LIBREOFFICE_SERVICE_URL=
MINIO_ACCESS_KEY=
MINIO_HOST=
MINIO_PORT=
MINIO_SECRET_KEY=
PATH_TO_DATA=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=
REACT_APP_API_PORT=
REACT_APP_API_URL=
RUN_MIGRATIONS=
S3_URL=
TOKENIZERS_PARALLELISM=